@model IEnumerable<Quotes.Model.Quote>

@{
    ViewData["Title"] = "IndexNice";
    Layout = "";
}

<STYLE>
    BODY {
        BACKGROUND: #ffffff;
        MARGIN: 0px;
        COLOR: black;
        FONT-FAMILY: Verdana, Arial, sans-serif
    }

    A.links:hover {
        COLOR: #c0c0c0
    }

    A {
        FONT-WEIGHT: bold;
        TEXT-DECORATION: none
    }

        A:hover {
            COLOR: #c0c0c0
        }

    .links {
        FONT-SIZE: 11px;
        FONT-FAMILY: Verdana, Arial, sans-serif
    }

    .date {
        FONT-WEIGHT: bold;
        FONT-SIZE: 16px;
        COLOR: black;
        FONT-FAMILY: Verdana, Arial, sans-serif
    }

    .post {
        FONT-SIZE: 12px;
        COLOR: black;
        FONT-FAMILY: Verdana, Arial, sans-serif
    }

    .aboutpost {
        FONT-SIZE: 11px;
        COLOR: #999999;
        FONT-FAMILY: Verdana, Arial, sans-serif
    }
</STYLE>

<DIV align=center>
    <CENTER>
        <TABLE cellSpacing=0 cellPadding=0 border=0>
            <TBODY>
                <TR>
                    <TD><BR></TD>
                    <TD rowSpan=2></TD>
                    <TD colSpan=5 rowSpan=2>
                        <DIV align=center>
                            <CENTER>
                                <TABLE cellSpacing=0 cellPadding=0 border=0>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD colSpan=2></TD>
                                            <TD></TD>
                                            <TD colSpan=2></TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD></TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#000000 rowSpan=3>&nbsp;</TD>
                                            <TD bgColor=#ffffff rowSpan=3>&nbsp;</TD>
                                            <TD bgColor=#ffffff colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000 rowSpan=3>&nbsp;</TD>
                                            <TD bgColor=#ffffff colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#ffffff rowSpan=3>&nbsp;</TD>
                                            <TD bgColor=#000000 rowSpan=3>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#ffffff>&nbsp;</TD>
                                            <TD bgColor=#ffffff>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#ffffff colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#ffffff colSpan=2>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD width=30 bgColor=#000000>&nbsp;</TD>
                                            <TD width=30 bgColor=#000000>&nbsp;</TD>
                                            <TD width=30 bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD width=30 bgColor=#000000>&nbsp;</TD>
                                            <TD width=30 bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD width=30 bgColor=#000000>&nbsp;</TD>
                                            <TD width=30 bgColor=#000000>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD width=150 bgColor=#ffffff colSpan=7>
                                                <P align=center></P>
                                            </TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                        </TR>
                                        <TR>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                            <TD bgColor=#000000>&nbsp;</TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </CENTER>
                        </DIV>
                    </TD>
                    <TD rowSpan=2></TD>
                    <TD><BR></TD>
                </TR>
                <TR>
                    <TD bgColor=#000000>&nbsp;</TD>
                    <TD bgColor=#000000>&nbsp;</TD>
                </TR>
                <TR>
                    <TD bgColor=#000000 colSpan=9><a asp-action="Modify">&nbsp;</a></TD>
                </TR>
                <TR>
                    <TD bgColor=#000000 colSpan=2>&nbsp;</TD>
                    <TD width=400 colSpan=5>
                        <DIV style="MARGIN: 10px">

                            <!-- THIS IS WHERE YOU CAN EDIT THE WAY YOUR BLOG APPEARS -->

                            @foreach (var item in Model)
                            {
                        <DIV class=post>
                            <BR>
                            @Html.DisplayFor(modelItem => item.QuoteText)
                            <BR>
                        </DIV>

                        <DIV class=aboutpost>
                            @Html.DisplayFor(modelItem => item.AuthorWithInfo)
                        </DIV><BR>
                            }

                        <!-- MORE TABLE RELATED CONTENT FOR THE REST OF THE PAGE.  -->

                        <BR><BR>

                        </DIV>
</DIV></DIV></DIV></DIV></TD>

<TD bgColor=#000000 colSpan=2>&nbsp;</TD></TR>
<TR>
    <TD bgColor=#000000 colSpan=9>
        <P align=center>.</P>
    </TD>
</TR>
<TR>
    <TD></TD>
    <TD></TD>
    <TD width=15></TD></CENTER>
    <TD width=185 bgColor=#000000>
        <P align=center></P>
        <P align=center>
            <BR><BR><BR><BR>
    </TD>
    <CENTER>
        <TD width=40></TD>
    </CENTER>
    <TD width=185 bgColor=#000000></TD>
    <CENTER>
        <TD width=15></TD>
        <TD></TD>
        <TD></TD>
</TR>
<TR>
    <TD></TD>
    <TD></TD>
    <TD colSpan=5></TD>
    <TD></TD>
    <TD></TD>
</TR></TBODY></TABLE></CENTER></DIV>